<h1>
    Editar Servicio:
</h1>

<form class="formServbus" method="post" action="/cajas/<%= servbus.cajaId %>/servbuses/<%= servbus.id %>?_method=PUT">

    <% include _form.ejs %>

<h2><%= servbus.mensaje %></h2>  
  <input id="tmpmonto" type="hidden" name="tmpmonto" value="<%= servbus.tmpmonto %>">
</form>

