<h1>
    Ver Gasto Administrativo:
</h1>

<ul>
    <li>Monto: <b>
            <%= admgasto.monto %>
        </b></li>
    <li>Detalle: <b>
            <%= categadm.nombre %>
        </b></li>
</ul>

<a href="/goback" class="button">Regresar</a>