<div class="miBox">
    MI CAJA
    </br>
    </br>
    Servicios: <%= servbusTotal %>
    </br>   
    Ventas: <%= ventTotal %>
    </br>
    Cobros: <%= cobrosTotal %>
    </br>
    </br>
    Gastos Ope.:
    </br>
    Gastos Admón:
    </br>
    Pagos:
    </br>
    </br>
    Total: <%= total %>
    </br>
    </br>   
    Retiros de Caja:
    </br>
    </br>
    Efectivo en Caja:
</div>         
