<section>
    Login with:

    <%- loginWithGitHub   ? '<a href="/auth/github"><img src="/assets/img/login/github.png" class="loginicon" alt="GitHub"></a>' : "" %>
    <%- loginWithTwitter  ? '<a href="/auth/twitter"><img src="/assets/img/login/twitter.png" class="loginicon" alt="Twitter"></a>' : "" %>
    <%- loginWithGoogle   ? '<a href="/auth/google"><img src="/assets/img/login/google.png" class="loginicon" alt="Google"></a>' : "" %>
    <%- loginWithLinkedin ? '<a href="/auth/linkedin"><img src="/assets/img/login/linkedin.png" class="loginicon" alt="Linkedin"></a>' : "" %>
</section>


<section>

    <h1>Login</h1>

    <form method='POST' action='/login'>
   <div class="form_one">
        <div>
            <label for="login">Login:</label>
            <br/>
            <input type="text" id="username" name="username" size="30" autocomplete="off"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <br/>
            <input type="password" id="password" name="password" size="30" autocomplete="off"/>
        </div>

        <div>
            <input class="button_primary" name="commit" type="submit" value="Login"/>
        </div>
        </div>
      
    </form>

    <hr/>

    <% if (!!process.env.QUIZ_OPEN_REGISTER) { %>
        <div>
            <a href="/users/new">Register local account</a>
        </div>
    <% } %>
</section>