<h1>
    Agregar Despacho:
</h1>

<form method="post" action="/despachos">

    <div class="wideRow">
        <label for="name" class="itemNarrow">Nombre:</label>
        <input type="text" class="itemWide" id="name" name="name" value="<%= despacho.name %>" placeholder="Despacho name"
               autocomplete="off"/>
    </div>

    <div class="wideRow">
        <label for="routId" class="itemNarrow">Ruta:</label>
        <select class="itemWide" id="routId" name="routId">
            <% for (var i in routs) { %>
                <% var rout = routs[i]; %>
                    <option value="<%= rout.id %>" <%= rout.id === despacho.routId ? "selected" : "" %>>
                        <%= rout.nombre %>
                    </option>
                    <% } %>
        </select>
    </div>

    <br/>

    <a href="/goback" class="button">Cancelar</a>

    <input type="submit" value="Guardar">

</form>