<div class="form_one">
<div class="label">
    <label for="ruc">Ruc:</label>
    </div>
    <div class="input">
    <input type="text" id="ruc" name="ruc" value="<%= empresa.ruc %>" placeholder="Ruc" autocomplete="off"/>
</div>
<div class="label">
    <label for="razon">Razón:</label>
    </div>
    <div class="input">
    <input type="text" id="razon" name="razon" value="<%= empresa.razon %>" placeholder="Razon" autocomplete="off"/>
</div>

<div class="label">
    <label for="direccion"  class="itemNarrow">Dirección:</label>
    </div>
    <div class="input">
    <input type="text" class="itemWide" id="direccion" name="direccion" value="<%= empresa.direccion %>" placeholder="Direccion" autocomplete="off"/>
</div>


<button class="button_secundario" href="/goback" class="button">Cancelar</button>

<input class="button_primary" type="submit" value="Guardar">
</div>