<h1>
    Ver Empresa:
</h1>

<ul>
    <li>Ruc: <b>
            <%= empresa.ruc %>
        </b></li>
    <li>Razón: <b>
            <%= empresa.razon %>
        </b></li>
    <li>Dirección: <b>
            <%= empresa.direccion %>
        </b></li>
</ul>

<a href="/empresas"><i class="fa-regular fa-circle-left cursorpointer">Back</i></a>