<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Empresa de Trans. Edilberto Ramos</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  
  <body>
  <h1>Bienvenido a la Web Etersac</h1>
  
  <p>Vamos y venimos Por Ti!</p>
  </body>
</html>
