<!DOCTYPE html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#fafafa" />

    <title>Etersac</title>

    <meta name="description" content="" />
    <link rel="apple-touch-icon" href="./assets/img/icon.png" />
    <link rel="icon" href="./assets/img/favicon.ico" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link href="./assets/css/main.css.map" />
</head>

<body>
    <div class="app">
        <div class="content">
            <%- body %>
        </div>
        <div class="toggle">
            <span class="fa fa-bars"></span>
            <span>Abrir el menú</span>
        </div>
        <div class="sidebar">
            <div class="sidebar_items">
                <div class="sidebar_item">Menu item</div>
                <div class="sidebar_item">Menu item</div>
                <div class="sidebar_item">Menu item</div>
                <div class="sidebar_item">Menu item</div>
                <div class="sidebar_item">Menu item</div>
            </div>
        </div>
    </div>


    <script src="./app/anime.min.js"></script>
    <script src="./app/main.js"></script>
</body>

</html>