<div class="containerSubMenu">
<div class="submenu">
        <a href="/reportes/servicios/new" title="Servicios">Servicios</a>
        <a href="/reportes/ventas/new" title="Ventas">Ventas</a>
        <a href="/reportes/busgastos/new" title="Gastos Ope."  class="in"><b><u>Gastos Ope.</u></b></a>
    </div>
<div class="form_one">
    <div class="label">
        <label for="fecha">Mes:</label>
        </div>
        <div class="input">
        <input type="text" class="mes" id="mes" name="mes" value="<%= reporte.mes %>" placeholder="Mes" autocomplete="off" readonly  required />
    </div>
    
    <div class="label">
        <label for="unidadId">Unidad:</label>
        </div>
        <div class="input">
        <select name="unidadId" id="unidadId">
        <option value="" "" === reporte.unidadId ? "checked" : ""></option>
            <% for (var i in unidads) { %>
                <% unidad = unidads[i]; %>
            <option value="<%= unidad.id %>" unidad.id === reporte.unidadId ? "checked" : ""><%= unidad.codigo %>-<%= unidad.placa %></option>
            <% } %>
        </select>
    </div>
   
    <input class="button_secundario reporteBusgastos" data-id="contado" type="button" value="Al Contado">
    <input class="button_secundario reporteBusgastos" data-id="credito" type="button" value="Crédito">
</div>
</div>