<div class="miBox">
    MI CAJA
    </br>
    </br>
    Servicios: <%= totalGral %> 
    </br>   
    Ventas:
    </br>
    Cobros:
    </br>
    </br>
    Gastos Ope.:
    </br>
    Gastos Admón:
    </br>
    Pagos:
    </br>
    </br>
    Total:
    </br>
    </br>   
    Retiros de Caja:
    </br>
    </br>
    Efectivo en Caja:
</div>         
