<h1>
    Agregar Caja:
</h1>

<form method="post" action="/cajas">
<div class="form_one">
   <div class="label">
        <label>Despacho:</label>
        </div>
        <div class="input">
        <select id="despacho" name="despacho">
            <% for (var i in despachos) { %>
                <% var despacho = despachos[i]; %>
            <option value="<%= despacho.id %>"><%= despacho.name %> Ruta:<%= despacho.pertRouDes.codigo %></option>
            <% } %>
        </select>               
    </div>
  <div class="label">
        <label for="name">Fecha:</label>
        </div>
        <div class="input">
        <input type="date" id="fecha" name="fecha" value="<%= caja.fecha %>" placeholder="Fecha"
               autocomplete="off" required/>
    </div>

    <br/>

    <button class="button_secundario" href="/goback" class="button">Cancel</button>

    <input class="button_primary" type="submit" value="Guardar">
</div>
</form>