<div class="form_one">
    <div class="label">
        <label for="monto">Monto:</label>
        </div>
        <div class="input">
        <input type="text" id="monto" name="monto" value="<%= anticipo.monto %>" placeholder="Monto" autocomplete="off"/>
    </div>
    
    <div class="label">
        <label for="unidadId">Unidad:</label>
        </div>
        <div class="input">
        <select name="unidadId" id="unidadId">
            <% for (var i in unidads) { %>
                <% unidad = unidads[i]; %>
            <option value="<%= unidad.id %>"><%= unidad.codigo %>-<%= unidad.placa %></option>
            <% } %>
        </select>
    </div>
   
    <button class=button_secundario href="/goback">Cancelar</button>
    <input class="button_primary" type="submit" value="Guardar">
</div>