<h1>
    Ver Anticipo:
</h1>

<ul>
    <li>Monto: <b>
            <%= anticipo.monto %>
        </b></li>
    <li>Unidad: <b>
            <%= unidad.codigo %>-<%= unidad.placa %>
        </b></li>
</ul>

<a href="/goback" class="button">Regresar</a>