/* ------------------------- */
#flashinfo {
  width: auto;
  border: 2px solid blue;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000;
}

#flashinfo h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #00c;
  color: #ffffff;
}

#flashinfo ul li {
  margin: 5px 5px 5px 0px;
  font-size: 12px;
  list-style: square;
}

#flashsuccess {
  width: auto;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000;
}

#flashsuccess h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #0c0;
}

#flashsuccess ul li {
  margin: 5px 5px 5px 0px;
  font-size: 12px;
  list-style: square;
}

#flasherror {
  width: auto;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #000;
}

#flasherror h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
}

#flasherror ul li {
  margin: 5px 5px 5px 0px;
  font-size: 12px;
  list-style: square;
}

.pagination {
  padding-left: 0;
  margin: 15px 0px 0px 0px;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 3px 7px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #00B7FF;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #00B7FF;
  border-color: #03a9f4;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.toggle {
  float: left;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 130px;
  height: 100vh;
  z-index: 2;
  background-color: #FFF;
  border: 1px solid #00B7FF;
  border-radius: 10%;
  color: #000;
  padding: 1rem;
  transform: translateX(-100%);
  opacity: 0;
  font-size: 1rem;
}
.sidebar .fa, .sidebar .fa-solid, .sidebar .fa-regular {
  font-size: 1rem;
}
.sidebar a {
  color: #676767;
}
.sidebar .sidebar_items .sidebar_item {
  opacity: 0;
  transform: translateX(-40%);
  margin-bottom: 5px;
}

.miBox {
  position: fixed;
  top: 130px;
  right: 0px;
  width: 170px;
  height: 100vh;
  z-index: 3;
  background-color: #FFF;
  border: 1px solid #00B7FF;
  border-radius: 10%;
  color: #676767;
  padding: 1rem;
  transform: translateX(100%);
  opacity: 0;
  font-size: 1rem;
}

.toggle2 {
  float: right;
}/*# sourceMappingURL=main.css.map */