.container{
	max-width: 100%;
	margin: auto;
	background-color: var(--white-color);
}

.row{
	display: flex;
}
.col-m{
	width: 4.1666666667%;
  box-shadow: var(--box-shadow);
}
.col-mm{
	width: 5.5555555555%;
  box-shadow: var(--box-shadow);
}
.col-1{
	width: 8.333333333%;
  box-shadow: var(--box-shadow);
}

.col-2{
	width: 16.666666666%;
	 box-shadow: var(--box-shadow);
}

.col-3{
	width: 24.999999999%;
	 box-shadow: var(--box-shadow);
}

.col-4{
	width: 33.333333332%;
	 box-shadow: var(--box-shadow);
}

.col-5{
	width: 41.666666665%;
	 box-shadow: var(--box-shadow);
}

.col-6{
	width: 49.999999998%;
	 box-shadow: var(--box-shadow);
}

.col-7{
	width: 58.333333331%;
	 box-shadow: var(--box-shadow);
}

.col-8{
	width: 66.666666664%;
	 box-shadow: var(--box-shadow);
}

.col-9{
	width: 74.999999997%;
	 box-shadow: var(--box-shadow);
}

.col-10{
	width: 83.33333333%;
	 box-shadow: var(--box-shadow);
}

.col-11{
	width: 91.666666663%;
	 box-shadow: var(--box-shadow);
}

.col-12{
	width: 100%;
	 box-shadow: var(--box-shadow);
}

.col-mm,.col-m,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.coll-3,.coll-8{
	padding: 10px;
}

.coll-3{
	width: 24.999999999%;
}

.coll-8{
	width: 66.666666664%;
}
