* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.overlay,
.overlay_max,
.overlay_spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}


.overlay_max {
z-index: 2;
}

.overlay,
.overlay_spinner {
z-index: 3;
}


.overlay.opened,
.overlay_max.opened,
.overlay_spinner.opened {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.overlay .spinner,
.overlay_max .spinner,
.overlay_spinner .spinner {
  width: 2rem;
  height: 2rem;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.overlay .overlay_content,
.overlay_spinner .overlay_content {
  width: 90%;
  max-width: 500px;
  background-color: #eee;
  padding: 1.5rem;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

.overlay_max .overlay_content_max,
.overlay_spinner .overlay_content_max {
  width: 90%;
  max-width: 900px;
  max-height: 700px;
  overflow: scroll;
  background-color: #eee;
  padding: 1.5rem;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}