@import 'lib/fontface.css';
@import 'fontawesome.css';
@import 'solid.css';
@import 'brands.css';
@import 'regular.css';
@import 'animations.css';
@import 'spinner.css';

/*------------Variables------------*/
:root{
  --corporativo-color: #18809c;
  --white-color: white;
  --black-color: #313337;
  --success-color:  #a8f5a3;
  /*------Tipografía-----------*/
  --module: 12px;
  --resalt: 14px;
  /*---- Espaciado-----*/
  --space: 10px;
  --space2: 20px;
  /*------Box shadow-------*/
  --box-shadow: 0 0 2px gray;
}
/*------------------------------*/

/*----------------Elementos HTML--*/
html,body{
  padding: 0px;
  margin: 0px;
  font-size: var(--module);
  font-family: "Source Sans Pro", "Helvetica", Arial, sans_serif;
}

nav{
  display: flex;
  background-color: var(--corporativo-color);
  color: var(--black-color);
  justify-content: space-between;
}

nav ul{
  display: flex;
  padding: 0px;
  }

nav li{
  padding-right: var(--space);
  list-style: none;
}

a{
  color: var(--black-color);;
  text-decoration: none;
}

a:hover{
  color: var(--corporativo-color);
}

nav a{
  color: var(--white-color);
}

nav a:hover{
  color: var(--success-color);
}

footer{
  background-color: var(--corporativo-color);;
  height: 50px;
  text-align: center;
}

img{
  padding: 0px;
}

form{
  justify-content: center;
}

input[type=text],input[type=date],input[type=password],input[type=color],input[type=number]{
  width: 100%;
  height: 30px;
  border: 1px solid var(--corporativo-color);;
  border-radius: 2px;
  font-size: var(--module);
}

input[type=radio],input[type=checkbox]{
  margin-left: 20px;
}

input:focus{
  background-color: var(--corporativo-color);;
  color: var(--white-color);
  box-shadow: var(--box-shadow);
}

select{
  width: 100%;
  height: 34px;
  border: 1px solid var(--corporativo-color);;
  border-radius: 2px;
  font-size: var(--module);
  background-color: var(--white-color);;
  background-image: url(../img/flecha.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
background-repeat: no-repeat;
background-position: right center;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
}
select::-ms-expand {
display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
    border: 1px solid var(--corporativo-color); !important;
    border-radius: 2px !important;
    text-align: left !important;
    font-size: 12px important;
    
}
.select2-selection__arrow {
    height: 34px !important;
    background-color: white important;
    background-image: url(../img/flecha.png) important; /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
}

/*--------------------------Main */

.main{
  text-align: center;
}

.index{
  background-image: url("../img/mapfondo.png");
  height: 100px;
  background-size: cover;
  background-position: center botton;
  margin-top: 35%;

}

.bus {
  display: flex;
  justify-content: center;
}

.bus .content{
  margin-top: -20%;
}

.bus .content img{
  max-width: 400px;
  }

.button_primary{
  background-color: var(--corporativo-color);;
  width: 100px;
  height: 30px;
  font-size: var(--module);
  color: white;
  border: 0px;
  margin: var(--space2);
  border-radius: 2px;
  cursor: pointer;
}  

.button_secundario{
  background-color: #fff;
  width: 100px;
  height: 30px;
  font-size: var(--module);
  color: #18809c;
  border: 1px solid var(--corporativo-color);;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
} 

.button_primary:hover{
  filter: brightness(1.2);
} 

.button_secundario:hover{
  filter: brightness(1.2);
} 

.form_two{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding: var(--space2);
  border: 1px solid var(--corporativo-color);;
  background-color: #fff;
  border-radius: 2px;
  justify-content: left;
  box-shadow: var(--box-shadow);
}
.form_two .frmtwo_child{
  display: flex;
  width: 50%;
  box-sizing: border-box;
  justify-content: left;
  padding-top: 5px;
  padding-right: 2px;
}

.form_two .frmtwo_child .frmtwo_child2{
  display: flex;
  justify-content: left;
}



.form_one{
  display: inherit;
  margin-left: 30%;
  margin-right: 30%;
  padding: var(--space2);
  border: 1px solid #18809c;
  background-color: #fff;
  border-radius: 2px;
  justify-content: left;
  box-shadow: var(--box-shadow);
}

.form_one_over{
  display: inherit;
  margin-left: 5%;
  margin-right: 5%;
  padding: var(--space2);
  border: 1px solid #18809c;
  background-color: #fff;
  border-radius: 2px;
  justify-content: left;
  box-shadow: var(--box-shadow);
}

.label{
  display: flex;
  justify-content: left;
  margin-top: 5px;
}

.input{
  display: flex;
  justify-content: left;
}

.form_thre{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  padding: var(--space2);
  border: 1px solid var(--corporativo-color);;
  background-color: #fff;
  border-radius: 2px;
  justify-content: left;
  box-shadow: var(--box-shadow);
}
.form_thre .frmthre_child{
  display: flex;
  width: 33.3333333333%;
  box-sizing: border-box;
  justify-content: left;
  padding-top: 5px;
  padding-right: 2px;
}


.submenu{
  display: flex;
  justify-content: space-between;
  padding: var(--space);
}

.fa-solid{
  color: var(--corporativo-color);
  opacity: 0.5;
}
.fa-regular{
  color: var(--corporativo-color);
  opacity: 0.5;
}
.fa-brands{
  color: var(--corporativo-color);
  opacity: 0.5;
}

.fa-arrow-right-from-bracket{
  color: var(--white-color);
  opacity: 1;
}

/*
.flotante{
  position: fixed;
  top: 140px;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 3;
  box-shadow: var(--box-shadow);
  opacity: 0.8;
}*/

.cbox{
  margin-left: 0px;
}

.main li{
  text-align: left;
}

.resalt{
  padding: 2px;
  border-radius: 2px;
  box-shadow: var(--corporativo-color);
  background-color: var(--success-color);
  font-size: var(--resalt);
}

.crear{
  padding: 2px;
  font-size: var(--resalt);
  opacity: 0.8;
 color: var(--corporativo-color);
}

.crear:hover{
  background-color: var(--corporativo-color);
  color: var(--white-color);
}

.textAnt{
  height: 100px;
}

.rstaVta{
  color: #e5a82d;
  font-size: 28px;
}
.cantidad{
  width: 40px;
}

.mini{
  height: 15px !important; 
  width: 40px !important; 
  color: black !important;
}

.buttonDelete{
  padding: 0;
  background-color: lightcoral;
}

.buttonAdd{
  background-color: lightcyan;
  font-size: 16px;
}

.logo{
  color: #e5a82d;
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}

.cursorpointer{
  cursor: pointer;
}

/*-----------------------*/