@import 'fontawesome.css';
@import 'solid.css';
@import 'brands.css';
@import 'regular.css';
@import 'animations.css';


html,body{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  font-family: Helvetica;
}

nav{
  display: flex;
  background-color: #18809c;
  padding: 10px;
  color: black;
  justify-content: space-between;
}

nav ul{
  display: flex;
  }

nav li{
  padding-right: 10px;
  list-style: none;
}

nav li a{
  color: black;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}


/*--------------------------Main */

.main{
  text-align: center;
}

.index{
  background-image: url("../img/mapfondo.png");
  height: 100px;
  background-size: cover;
  background-position: center botton;
  margin-top: 35%;

}

.bus {
  display: flex;
  justify-content: center;
}

.bus .content{
  margin-top: -20%;
}

.bus .content img{
  max-width: 400px;
  }

.button_primary{
  background-color: #18809c;
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: white;
  border: 0px;
  margin: 10px;
  border-radius: 3%;
}  

.button_secundario{
  background-color: #fff;
  width: 100px;
  height: 30px;
  font-size: 12px;
  color: #18809c;
  border: 1px solid #18809c;
  margin: 10px;
  border-radius: 3%;
} 

.button_primary:hover{
  filter: brightness(1.2);
} 

.button_secundario:hover{
  filter: brightness(1.2);
} 

.form_two{
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  border: 1px solid #18809c;
  background-color: #fff;
  border-radius: 3%;
  justify-content: left;
}
.form_two .frmtwo_child{
  display: flex;
  width: 50%;
  box-sizing: border-box;
  justify-content: left;
  padding-left: 5px;
}

.form_two .frmtwo_child .frmtwo_child2{
  display: flex;
  justify-content: left;
}



.form_one{
  display: inherit;
  margin-left: 30%;
  margin-right: 30%;
  padding: 20px;
  border: 1px solid #18809c;
  background-color: #fff;
  border-radius: 3%;
  justify-content: left;
}

.label{
  display: flex;
  justify-content: left;
  margin-top: 5px;
}

.input{
  display: flex;
  justify-content: left;
}

/*----------------Elementos HTML--*/
form{
  justify-content: center;
}

input[type=text],input[type=date],input[type=password],input[type=color]{
  width: 100%;
  height: 30px;
  border: 1px solid #18809c;
  border-radius: 2px;
  font-size: 12px;
}

input:focus{
  background-color: #18809c;
  color: white;
}

select{
  width: 100%;
  height: 30px;
  border: 1px solid #18809c;
  border-radius: 2px;
  font-size: 12px;
  background-color: white;background-image: url(../img/flecha.png); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
background-repeat: no-repeat;
background-position: right center;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;
}
select::-ms-expand {
display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 30px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
/*-----------------------*/