<div class="form_one">
<div class="label">
    <label for="nombre">Nombre:</label>
    </div>
    <div class="input">
    <input type="text" id="nombre" name="nombre" value="<%= propietario.nombre %>" placeholder="Nombre" autocomplete="off"/>
</div>

<div class="label">
    <label for="telefono">Teléfono:</label>
    </div>
    <div class="input">
    <input type="text" id="telefono" name="telefono" value="<%= propietario.telefono %>" placeholder="Teléfono" autocomplete="off"/>
</div>

<div class="label">
    <label for="ruc">DNI/RUC:</label>
    </div>
    <div class="input">
    <input type="text" id="ruc" name="ruc" value="<%= propietario.ruc %>" placeholder="DNI/RUC" autocomplete="off"/>
</div>

<br/>
<button href="/goback" class="button_secundario">Cancelar</button>

<input class="button_primary" type="submit" value="Guardar">
</div>