<div class="wideRow">
    <label for="nombre"  class="itemNarrow">Nombre:</label>
    <input type="text" class="itemWide" id="nombre" name="nombre" value="<%= propietario.nombre %>" placeholder="Nombre" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="telefono"  class="itemNarrow">Teléfono:</label>
    <input type="text" class="itemWide" id="telefono" name="telefono" value="<%= propietario.telefono %>" placeholder="Teléfono" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="ruc"  class="itemNarrow">DNI/RUC:</label>
    <input type="text" class="itemWide" id="ruc" name="ruc" value="<%= propietario.ruc %>" placeholder="DNI/RUC" autocomplete="off"/>
</div>

<br/>
<a href="/propietarios" class="button">Cancelar</a>

<input type="submit" value="Guardar">