<h1>
    Ver Propietario:
</h1>

<ul>
    <li>Nombre: <b><%= propietario.nombre %></b></li>
    <li>Teléfono: <b><%= propietario.telefono %></b></li>
    <li>Ruc: <b><%= propietario.ruc %></b></li>
</ul>

<a href="/propietarios" class="button">Regresar</a>