<nav class="main" id="mainNav" role="navigation">
    <a href="/"><span class="fa fa-home"></span></a>
  </nav>
  
  <section class="main" id="mainSection"><h1>
    Editar Unidad:
</h1>

<form method="post" action="/unidads/<%= unidad.id %>?_method=PUT" >
    <% include _form.ejs %>
</form>
</section>