<nav class="main" id="mainNav" role="navigation">
    <a href="/"><span class="fa fa-home"></span></a>
  </nav>
  
  <section class="main" id="mainSection"><h1>
    Nueva Unidad:
</h1>

<form method="post" action="/unidads">

    <% include _form.ejs %>

</form>
</section>