<h1>
    Ver Cobro:
</h1>

<ul>
    <li>Deudor: <b>
            <%= cobro.cpcId %>
        </b></li>
    <li>Cobro: <b>
            <%= cobro.monto %>
        </b></li>
</ul>

<a href="/goback" class="button">Regresar</a>